/* search */
.search {
  width: 30rem;
  margin: 2rem auto;
  max-width: 80%;
}

.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.search-input input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.15rem 0.25rem;
}

.search-input input:focus {
  outline: none;
  border-color: #ff2058;
}

@media (min-width: 768px) {
  .search-input {
    flex-direction: row;
  }
}
/* pagination */
.container {
  display: flex;
  list-style: none;
  justify-content: center;
}

.page {
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.active {
  border: 2px solid #000;
  font-weight: bold;
}

.previous {
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.break {
  padding: 10px;
}

.next {
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}
